body {
    color: white;
    font: normal 15pt Arial;
    background: rgb(70, 142, 236);
    text-align: center;
}

header {

}

section {
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    width: 500px;
    padding: 15px;
    text-align: start;
    background-color: white;
    color: black;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    font-style: italic;
}